<h1><%= @greeting %></h1>
<p>Find me in app/views/consume/list.html.erb</p>
<p> API Response <%= @res %></p>
<p>API Response code <%= @res.code %></p>


<% @data.each do |p| %>
  <td><%= p %></td>
<% end %>